@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*================ Global Style =================*/
:root {
    --main-color: #42526e;
    --main-opacity-color: #42526ed3;
    --6th-color: #f9fafc;
    --second-color: #e5e9f2;
    --3rd-color: #eff2f7;
    --4th-color: #a6a6a6;
    --5th-color: #e7e7e7;
    --7th-color: #444444;
    /*--1st-border-color*/
    --border-color: #e0e6ed;
    --1st-input-bg: #eff2f7;
    --2nd-input-bg: #e5e9f4;
    --3rd-input-bg: #f3f3f3;
    --2nd-border-color: #f5f5f5;
    --red-color: #d40b0e;
    /*#f70f06;*/
    --yellow-color: #f8dd00;
    --yellow-light-color: #fffbeb;
    --blue-color: #4182dd;
    --blue-dark-color: #4182dd;
    --green-color: #145c13;
    --border-radius-1: 1px;
    --border-radius-2: 2px;
    --border-radius-5: 5px;
    --padding-02: 2rem;
    --1st-box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
    --2nd-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: clamp(14px, .75rem + 0.2vw, 2rem) !important;
    font-family: 'Tajawal', sans-serif;
}

body {
    color: var(--main-color);
}

img {
    vertical-align: middle;
}

button {
    cursor: pointer !important;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

ul {
    list-style: none;
}

input:not([type="search"]) {
    padding: 10px 20px;
    border-radius: var(--border-radius-5);
    border: 1px solid rgb(212, 212, 212);
    text-align: start;

}

::placeholder {
    font-family: 'Tajawal', sans-serif;
}

.h1,
h1 {
    font-size: clamp(19px, 1.35rem + 1.2vw, 2.8333333333rem) !important;
    font-weight: 600;
}

.h2,
h2 {
    font-size: clamp(18px, 1.3rem + 0.9vw, 2.6666666667rem) !important;
    font-weight: 600;
}

.h3,
h3 {
    font-size: clamp(17px, 1.2rem + 0.5vw, 2rem) !important;
    font-weight: 600 !important;
}

.h4,
h4 {
    font-size: clamp(16px, 1.2rem + 0.3vw, 2.3333333333rem) !important;
    font-weight: 600;
}

.h5,
h5 {
    font-size: clamp(15px, 1.15rem, 2.1666666667rem) !important;
    font-weight: 600;
}

.h6,
h6 {
    font-size: clamp(14px, 1.1rem, 2rem) !important;
    font-weight: 600;
}

.link {
    cursor: pointer;
}

.container {
    width: clamp(50px, 94vw, 100vw);
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.f-dir-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-center {
    align-content: center;
}

.align-self-center {
    align-self: center;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.btn {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer !important;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    max-width: 100%;
    word-wrap: break-word;
    transition: all .5s ease-in-out;
}

.relative {
    position: relative;
}

.z-0 {
    z-index: 0;
}

.main-btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.danger-btn {
    background-color: var(--red-color);
    border-color: var(--red-color);
}

.blue-btn {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.w-100 {
    width: 100%;
}

.w-fit-content {
    width: fit-content;
}

.gx-1 {
    gap: 0 12px;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: .8rem
}

.g-20 {
    gap: 1.5rem;
}

.gx-20 {
    gap: 1.5rem;
}

/* .p-80 {
    padding: 30px 0;
} */

.pt-120 {
    padding-top: 120px;
}

.p-1 {
    padding: 12px;
}

.p-2 {
    padding: 24px;
}

.p-3 {
    padding: 36px;
}

.pr-1 {
    padding-inline-start: 12px;
}

.pl-1 {
    padding-inline-end: 12px;
}

.pt-1 {
    padding-top: 12px;
}

.pt-2 {
    padding-top: 24px;
}

.pt-5 {
    padding-top: 60px;
}

.pb-2 {
    padding-bottom: 24px;
}

.px-1 {
    padding-inline: 12px;
}

.px-2 {
    padding-inline: 24px;
}

.px-3 {
    padding-inline: 36px;
}

.px-4 {
    padding-inline: 48px;
}

.py-1 {
    padding-block: 12px;
}

.py-2 {
    padding-block: 24px;
}

.mx-auto {
    margin-inline: auto;
}

.m-1 {
    margin: 12px;
}

.mr-1 {
    margin-inline-start: 12px;
}

.mr-2 {
    margin-inline-start: 24px;
}

.ml-1 {
    margin-inline-end: 12px;
}

.mt-1 {
    margin-top: 12px;
}

.mt-2 {
    margin-top: 24px;
}

.mt-3 {
    margin-top: 36px;
}

.mb-1 {
    margin-bottom: 12px !important;
}

.mb-2 {
    margin-bottom: 24px;
}

.mb-3 {
    margin-bottom: 36px;
}

.mt-3rem {
    margin-top: 5rem;
}

.my-1 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.round-2 {
    border-radius: var(--border-radius-2);
}

.round-5 {
    border-radius: var(--border-radius-5);
}

.ms-auto {
    margin-inline-start: auto;
}

.me-auto {
    margin-inline-end: auto;
}

ul.breadcrumb {
    padding: 24px 16px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: "/\00a0";
}

ul.breadcrumb li a:hover {
    color: var(--blue-dark-color);
    text-decoration: underline;
}

.f-100 {
    flex: 100%;
}

.f-auto {
    flex: auto;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-grow-3 {
    flex-grow: 3;
}

.form-control {
    display: flex;
    align-items: center;
}

.price {
    color: var(--red-color);
}

.include-tax {
    color: var(--4th-color);
    font-size: .7rem !important;
    position: relative;
    top: -.7em;
}

.close-btn {
    cursor: pointer;
    background-color: red;
    margin: .3em;
    border-radius: var(--border-radius-2);
    color: #fff;
    font-size: 20px !important;
    display: inline-block;
    padding: 2px 9px;
}

.close-btn img {
    width: 24px;
    padding: 6px !important;
}

.close-btn:hover {
    color: var(--red-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.blockquote {
    font-size: 1.4em;
    color: var(--4th-color);
    padding: .8em 20px .8em 2.6em;
    border-inline-start: 5px solid var(--yellow-color);
    background: var(--yellow-light-color);
    border-radius: var(--border-radius-5);
}

.blockquote b {
    color: var(--main-color);
}

.blockquote span a {
    display: block;
}

.indicator.active {
    background: #fff !important;
    border: 1px solid var(--main-color);
    transform: scale(1.2);
}

/*================ Modal =================*/
.main-nav {
    display: none;
    background-color: var(--6th-color);
    border-bottom: 1px solid var(--second-color);
}

:is(.main-nav, .mobile-nav) li {
    flex: 1 0 auto;
    padding: 7px 0;
    cursor: pointer;
}

.main-nav li {
    border-inline-end: 1px solid var(--second-color);
    text-align: center;
}

:is(.main-nav, .mobile-nav) li a {
    color: inherit;
}

:is(.main-nav, .mobile-nav) li img {
    width: 15px;
    vertical-align: middle;
    margin-inline-end: 20px;
}

.top-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

.top-header .d-grid {
    grid-template-columns: min-content 2fr 9fr 1fr;
}

.shadow-on-scroll {
    box-shadow: var(--2nd-box-shadow);
}

.top-header .mobile-nav {
    position: absolute;
    top: 100%;
    inset-inline-start: 0;
    background-color: var(--6th-color);
    padding: 1rem 2rem;
    width: 100%;
}

.top-header .mobile-nav li {
    flex: 1 0 100%;
    border-bottom: 1px solid var(--second-color);
}

.top-header .logo img {
    width: clamp(1rem, 4rem + 2vw, 10vw);
}

.top-header form {
    border-radius: 50px;
    background-color: var(--3rd-color);
    padding: 0 15px;
    width: 95%;
    justify-self: end;
    align-self: start;
}

.top-header input[type="search"] {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: inherit;
}

.top-header .cart-btn {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 100px;
    background-color: var(--3rd-color);
    position: relative;
}

.top-header .cart-btn img {
    width: 18px;
    transform: rotateY(180deg);
}

.top-header .cart-btn .cart-quantity {
    color: white;
    background-color: var(--red-color);
    position: absolute;
    bottom: -12px;
    border-radius: 2px;
    height: 20px;
    width: 31px;
    text-align: center;
    line-height: 20px
}

/* ====== Slideshow ======*/
.slideshow-header .slider>* {
    display: none;
    width: 100%;
}

.slideshow-header .bullets {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
}

.slideshow-header .bullets .indicator {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: #939698;
    transition: 0.3s;
    border-radius: var(--border-radius-2);
    border: 1px solid #cdcdcd;
    margin: 0 .2em;
    cursor: pointer;
}

#arrow-left,
#arrow-right {
    cursor: pointer;
    position: absolute;
    top: 0;
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    color: #222428;
    font-weight: 100;
    font-size: 4rem !important;
    transition: .6s ease;
    user-select: none;
}

#arrow-right {
    right: 3rem;
}

#arrow-left {
    left: 3rem;
}

#arrow-left:hover,
#arrow-right:hover {
    color: #f2f2f2;
    /* background-color: rgba(0, 0, 0, 0.1) */
}

/*================= Category ==================*/
.category-section .category-item {
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
}

.category-section .row>img {
    cursor: pointer;
}

.category-section .category-name {
    width: 100%;
    padding: 1em .8em;
    border: 2px solid var(--green-color);
    border-radius: var(--border-radius-5);
}

.category-section .filter-box {
    margin-top: 12px;
    border-radius: var(--border-radius-5);
}

.category-section .filter-box .filter-header {
    background-color: var(--green-color);
    color: #fff;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.category-section .filter-box .accordion-item {
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.category-section .filter-box .accordion-item span.fa {
    font-size: 12px !important;
    color: var(--4th-color) !important;
    border: 1px solid var(--4th-color);
    border-radius: var(--border-radius-1);
    align-self: center;
    padding: .09em;

}

.category-section .filter-box .accordion-header {
    background-color: var(--3rd-color);
    padding: 1em .8em;
    font-weight: 500;
}

.category-section .filter-box .accordion-content {
    background-color: #fff;
}


.category-section .close .accordion-content {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    display: block;
}

.category-section .open .accordion-content {
    padding: 1em .8em;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.category-section input[type=range] {
    height: 40px;
    -webkit-appearance: none;
    width: 100%;
    border: none;
}

.category-section input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: var(--4th-color);
}

.category-section input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--red-color);
    height: 25px;
    width: 25px;
    line-height: 25px;
    background: var(--red-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.category-section input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--4th-color);
}

.category-section input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: var(--4th-color);
    border-radius: 0px;
    border: 2px solid var(--4th-color);
}

.category-section input[type=range]::-moz-range-thumb {
    border: 2px solid var(--red-color);
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: var(--red-color);
    cursor: pointer;
}

/* 
.category-section input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.category-section input[type=range]::-ms-fill-lower {
    background: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 0px;
}

.category-section input[type=range]::-ms-fill-upper {
    background: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 0px;
}

.category-section input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 2px solid var(--red-color);
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: var(--red-color);
    cursor: pointer;
}

.category-section input[type=range]:focus::-ms-fill-lower {
    background: var(--red-color);
}

.category-section input[type=range]:focus::-ms-fill-upper {
    background: var(--red-color);
} */

.category-section .range-sides {
    font-size: 10px !important;
    color: var(--4th-color);
    margin-top: -12px;
}

.category-section .select {
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: var(--border-radius-5);
    overflow: hidden;
}

.category-section select {
    border: 2px solid var(--border-color);
    flex: 1;
    padding: 0 1em;
    cursor: pointer;
}

.category-section .blue-btn {
    box-shadow: var(--2nd-box-shadow);
    border-radius: var(--border-radius-5);
}

.category-section .blue-btn:hover {
    background-color: var(--main-color);
}

/*================= Advertisement Banner ==================*/
.adBanner-section .d-grid {
    gap: 10px;
}

.adBanner-section .d-grid>*:last-child {
    grid-column: 1 / -1;
}

.adBanner-section .d-grid>* img {
    width: 100%;
}

/*================= Sections ==================*/

/*================= Offer =================*/
.section-content {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section-content .scrolled::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.section-content .scrolled {
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrow {
    cursor: pointer;
    align-items: center;
    padding: 0 .5rem;
    color: #222428;
    font-weight: 100;
    height: 100%;
    font-size: 3rem !important;
    transition: .6s ease;
    user-select: none;
}

.arrow:hover {
    background-color: #4747471f;
}

section .card-item {
    border: 1px solid var(--2nd-border-color);
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
    flex: 0 0 20%;
    min-width: 250px;
    max-width: 260px;
    margin-bottom: .8rem;
}

section:not(.category-details-items) .card-item:first-child {
    margin-inline-start: .8rem;
}

section .card-item {
    margin-inline-end: .8rem;
}

section .card-item:hover {
    border-color: var(--red-color);
}

section .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
}

section .card-name {
    color: var(--main-opacity-color);

}

section .card-name a {
    color: inherit;
}

section .card-footer {
    padding: .3em .7em;
}

section .card-footer>li {
    cursor: pointer;
}

section .card-footer .addProduct {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    background: var(--red-color);
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

section .card-footer img {
    width: 1.7rem;
    height: 1.7rem;
}

/*================= Details ==================*/
.details-section .item-images, .details-section .item-options>div, .details-section .item-semilars .item-semilar {
    border-radius: var(--border-radius-5);
    padding: .4rem 1rem 0;
    box-shadow: var(--1st-box-shadow);
    margin-bottom: .2rem;
}

.details-section .item-images>img {
    padding: 0 1.8rem;
    width: 100%;
}

.details-section .other-images li {
    border: 1px solid var(--main-color);
    padding: 2px 8px;
    border-radius: var(--border-radius-5);
    box-shadow: var(--1st-box-shadow);
    cursor: pointer;
}

.details-section .other-details span.number-reviews {
    color: var(--blue-color);
}

.details-section .dots li {
    border: 1px solid var(--4th-color);
    padding: 2px 8px;
    border-radius: var(--border-radius-5);
    box-shadow: var(--1st-box-shadow);
    cursor: pointer;
}

.details-section .item-options select {
    padding: 10px 12px !important;
    background-color: var(--5th-color) !important;
}

.details-section .item-options .option-tool {
    background-color: var(--6th-color);
}

.details-section .item-options .option-tool li {
    flex: 50%;
    padding: .8em;
}

.details-section .item-options .option-tool li img {
    margin-inline: .6em;
    width: 1.1em;
}

.details-section .item-options .option-buttons {
    border-top: 1px solid var(--border-color);
}

.details-section .item-options .option-buttons li {
    box-shadow: var(--2nd-box-shadow);
    padding: .8em 0;
    flex: auto;
    text-align: center;
    border-radius: var(--border-radius-5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.details-section .item-options .option-buttons li img {
    margin-inline-end: .6em;
}

.details-section .brief {
    background-color: var(--6th-color);
    border-bottom: 1px solid var(--border-color);
}

.details-section .spec .table {
    display: table;
    margin-inline-start: 30px;
    width: 90%;
}

.details-section .spec .tr {
    display: table-row;
    border-bottom: 1px solid #e0e6ed;
    display: block;
}

.details-section .spec .td {
    display: table-cell;
    padding: 1.3rem;
    color: #1f2d3d;
    font-size: 1.2rem !important;
}

.details-section .spec .td:first-child {
    min-width: 180px;
}

.details-section .spec .td:nth-child(2) {
    font-weight: 600;
}

.details-section .item-reviews button {
    background-color: #0052cc;
    color: #fff;
    box-shadow: var(--2nd-box-shadow);
    padding: .6em 1em;
}

.details-section .item-reviews button img {
    width: 10px;
    vertical-align: baseline;
    margin-inline-end: .6em;
}

.details-section .item-reviews .review {
    background-color: var(--6th-color);
    border-top: 1px solid var(--border-color);
}

.details-section .item-semilars .item-semilar {
    flex: 0 0 15%;
    border: 1px solid var(--2nd-border-color);
    transition: .5s;
}

.details-section .item-semilars .item-semilar:hover {
    border: 1px solid var(--red-color);
    cursor: pointer;
}

/* .slideshow-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
} */

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-bottom: 3em;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/*================= Cart ==================*/
.cart-section img {
    vertical-align: initial;
    width: 25px;
}

.cart-section .subtitle {
    color: var(--4th-color);
    font-weight: 400;
}

.cart-section .item-details .h5 {
    font-weight: 800 !important;
}

.cart-item, .cart-section .cart-summary {
    border: 1px solid var(--2nd-border-color);
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
}

.cart-item:first-child {
    margin: 0 !important;
}

.cart-item .subtitle {
    font-size: 12px !important;
    color: var(--4th-color);
    font-style: italic;
    font-weight: 500;
}

.cart-section .item-bottom span {
    font-weight: 600;
}

.cart-section .item-bottom {
    border-top: 2px solid var(--2nd-border-color);
}

.cart-section .item-bottom span i {
    background-color: black;
    color: #fff;
    font-size: 8px !important;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-inline-end: 2px;
}

.cart-section .qty-block {
    border-radius: var(--border-radius-1);
    color: #809296;
}

.cart-section .increment, .cart-section .decrement {
    padding: 3px 6px;
    border: 1px solid #d4d4d4;
    border-radius: var(--border-radius-1);
    font-size: 8px !important;
    background-color: #f1f1f1;
}

.cart-section input {
    padding: 0 5px;
    text-align: center;
    width: 30px;
    border-radius: var(--border-radius-1);
    color: inherit;
}

.cart-section .cart-summary {
    color: var(--main-color);
}

.cart-section .cart-summary small {
    font-size: 11px !important;
    font-weight: 400 !important;
}

.cart-section .cart-summary .btn {
    border-radius: var(--border-radius-5);
    box-shadow: var(--2nd-box-shadow);
    display: block;
    width: 100%;
    text-align: center;
}

.cart-section .cart-summary p {
    color: var(--4th-color);
}

.checkout .stepper {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
}

.step--1,
.step--2,
.step--3,
.step--4 {
    width: 5rem;
    padding: 0.5rem 0;
    background: #fff;
    color: #666;
    text-align: center;
}

.step--1,
.step--2,
.step--3 {
    border-right: 1px solid #666;
}

main.checkout {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.checkout .form {
    background: #fff;
    text-align: center;
    position: absolute;
    width: 25rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    display: none;
    border-radius: var(--border-radius-5);
    overflow: hidden;
}

.form--header-container {
    background: linear-gradient(to right, var(--main-color), var(--main-opacity-color));
    color: #fff;
    height: 6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.form--header-title {
    font-size: 1.4rem;
}

.form--header-text {
    padding: 0.5rem 0;
}

.checkout input[type="text"] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 20rem;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #bdbdbb;
}

.form__btn {
    background: var(--main-opacity-color);
    color: #fff;
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    width: 7rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.form--message-text {
    width: 25rem;
    background: #fff;
    color: #444;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
}

.form-active {
    z-index: 1000;
    display: block !important;
}

.form-active-animate {
    animation: moveRight 1s;
}

.form-inactive {
    display: block;
    animation: moveLeft 1s;
}

.step-active {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

@keyframes moveRight {
    0% {
        transform: translateX(-27rem) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem) scale(1);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0rem) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(27rem) scale(0.9);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*================= Footer ==================*/
footer {
    background-color: #353535;
    text-align: start;
    padding-top: 5rem;
    line-height: 1.6;
}

footer h4 {
    color: var(--4th-color);
    border-bottom: 2px solid var(--7th-color);
    margin-bottom: 1rem;
}

footer h4.subscribe {
    display: none;
}

footer ul {
    display: none;
}

footer ul li {
    margin-bottom: .5rem;
}

footer *:not(h4) {
    color: var(--5th-color);
}

footer form {
    padding: 10px;
    background-color: #505050;
    border-radius: var(--border-radius-5);
}

footer .form-control {
    background-color: #d3d3d3;
    border-radius: var(--border-radius-5);
}

footer .form-control input {
    background-color: inherit;
}

footer .form-control i {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

footer .form-control.email {
    flex: 2 1 auto;
}

footer input[type="submit"] {
    background-color: #d3d3d3;
}

footer input[type="submit"] {
    color: #000;
}

footer .social-media {
    gap: 9px;
}

footer .social-icon img {
    width: 30px !important;
    height: 30px !important;
}

footer .bottom-footer {
    background-color: var(--5th-color);
    padding: 2.3rem;
    gap: 12px;
    text-align: center !important;
    justify-content: center;
}

footer .bottom-footer img {
    width: 4rem;
    margin: 0 .1rem;
    padding-inline: 4px;
    border-radius: var(--border-radius-5);
    cursor: pointer;
}

footer .bottom-footer p, footer .bottom-footer a {
    color: var(--7th-color);
}

footer .bottom-footer p {
    text-align: center;
}

/*======================= Signup Page ==========================*/
[class*="-form"] h2 {
    border-bottom: 2px solid var(--2nd-border-color);
    padding-bottom: 3px;
}

/* [class*="-form"] label {
    position: relative;
    top: 2px;
} */

.signup-form input[type="submit"], .signup-form input[type="text"]#confirmCode {
    background-color: var(--2nd-input-bg);
    text-align: center;
}


/* [class*="-form"] input:not([type="checkbox"]), [class*="-form"] input:not([type="submit"]) {
    background-color: var(--1st-input-bg);
    width: 100%;
} */
/* [class*="-form"] input:not([type="checkbox"]), [class*="-form"] input:not([type="submit"]), input:not([type="radio"]) {
    background-color: var(--1st-input-bg);
    width: 100%;
} */
[class*="-form"] input[type=text], [class*="-form"] input[type="email"], [class*="-form"] input[type="number"], [class*="-form"] input[type="password"] {
    background-color: var(--1st-input-bg);
    width: 100%;
}

[class*="-form"] input[type="checkbox"] {
    background-color: var(--blue-color);
    height: 24px;
    width: 24px;
}

.signup-form p {
    text-align: start;
    color: var(--4th-color);
}

/* ========== login-container ========== */
.login-form input[type="submit"] {
    background-color: var(--red-color);
    text-align: center;
    color: #fff;
}

.login-form .have-account {
    margin-top: 60px;
}

.login-form .have-account button {
    color: #656769;
    font-size: 1.1em;
    margin-top: 0.5rem;
    border-radius: var(--border-radius-5);
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
    transition: .3s ease-in-out;
}

.login-form .have-account button:hover {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

@media (max-width: 484px) {
    .col-xs-1 {
        flex: 0 0 8.333%;
    }

    .col-xs-2 {
        flex: 0 0 16.666%;
    }

    .col-xs-3 {
        flex: 0 0 25%;
    }

    .col-xs-4 {
        flex: 0 0 33.333%;
    }

    .col-xs-5 {
        flex: 0 0 41.667%;
    }

    .col-xs-6 {
        flex: 0 0 50%;
    }

    .col-xs-7 {
        flex: 0 0 58.333%;
    }

    .col-xs-8 {
        flex: 0 0 66.667%;
    }

    .col-xs-9 {
        flex: 0 0 75%;
    }

    .col-xs-10 {
        flex: 0 0 83.333%;
    }

    .col-xs-11 {
        flex: 0 0 91.666%;
    }

    .col-xs-12 {
        flex: 0 0 100%;
    }

    .g-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 486px) {
    .col-sm-1 {
        flex: 0 0 8.333%;
    }

    .col-sm-2 {
        flex: 0 0 16.666%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333%;
    }

    .col-sm-5 {
        flex: 0 0 41.667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.333%;
    }

    .col-sm-8 {
        flex: 0 0 66.667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.333%;
    }

    .col-sm-11 {
        flex: 0 0 91.666%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
    }

    .mobile-nav li {
        flex: 1 0 45% !important;
    }

    .g-sm-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }
}

@media (min-width: 720px) {
    .col-md-1 {
        flex: 0 0 8.333%;
    }

    .col-md-2 {
        flex: 0 0 16.666%;
    }

    .col-md-3 {
        flex: 0 0 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333%;
    }

    .col-md-5 {
        flex: 0 0 41.667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
    }

    .col-md-7 {
        flex: 0 0 58.333%;
    }

    .col-md-8 {
        flex: 0 0 66.667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333%;
    }

    .col-md-11 {
        flex: 0 0 91.666%;
    }

    .col-md-12 {
        flex: 0 0 100%;
    }

    .mobile-nav li {
        flex: 0 0 30% !important;
    }

    .mt-md-0 {
        margin-top: 0;
    }

    .md-justify-content-flex-start {
        justify-content: flex-start;
    }

    .md-align-items-flex-start {
        align-items: flex-start;
    }

    .md-dir-row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d-md-block {
        display: block !important;
    }

    .md-mr-3 {
        margin-inline-start: 3rem;
    }
}

@media (min-width: 959px) {
    .col-lg-1 {
        flex: 0 0 8.333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333%;
    }

    .col-lg-5 {
        flex: 0 0 41.667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333%;
    }

    .col-lg-8 {
        flex: 0 0 66.667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
    }

    .mobile-nav li {
        flex: 1 0 auto;
        border-inline-end: 1px solid var(--second-color);
    }

    .top-header .d-grid {
        grid-template-columns: 2fr 9fr 1fr;
    }

    .top-header .d-grid .logo {
        text-align: start;
    }

    .d-lg-block {
        display: block !important;
    }

    .d-lg-none {
        display: none !important;
    }

    .g-lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .lg-justify-content-space-between {
        justify-content: space-between !important;
    }

    .lg-text-align-end {
        text-align: end !important;
    }
}